div.background-wrapper {
  width: 1536px;
  height: 900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: rgb(192, 191, 223);
  /* border-bottom: 5px solid black; */
}
div.background-games {
  width: 1536px;
  height: 900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* border-bottom: 5px solid black; */
}

div.background-abilities {
  width: 1536px;
  height: 900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* border-bottom: 5px solid black; */
}

div.background-contact {
  width: 1536px;
  height: 900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* border-bottom: 5px solid black; */
}

div.background-games img {
  position: absolute;
  width: 100%;
  z-index: 1;
}

h1.name {
  position: absolute;
  z-index: 4;
  text-transform: uppercase;
  font-size: 130px;
  top: 170px;
  left: -850px;
  font-weight: 600;
  letter-spacing: 4px;
  /* docelowa pozycja to left 40px */
  animation: animationh1 60s 1 forwards linear;
  /* cubic-bezier(0, 1.84, 0.41, 0.8) */
  text-shadow: 4px 2px lightgray;
  color: white;
  white-space: nowrap;
}

h1.juegos {
  top: 30px;
  color: #9643c9;
  text-shadow: 4px 2px white;
}

@keyframes animationh1 {
  0% {
    left: -850px;
  }
  1% {
    left: 30px;
  }
  10% {
    left: 90px;
  }
  25% {
    left: 150px;
  }
  65% {
    left: 60px;
  }
  100% {
    left: 120px;
  }
}

h2.specialty {
  position: absolute;
  z-index: 6;
  text-transform: uppercase;
  font-size: 80px;
  top: 323px;
  left: 207px;
  font-weight: 500;
  animation: animationh2 60s 1 forwards linear;
  line-break: loose;
  /* docelowa pozycja to left 300px */
  text-shadow: 2px 1px lightgray;
  color: white;
  white-space: nowrap;
}

h2.juegos {
  top: 180px;
  color: #9643c9;
  text-shadow: 2px 1px white;
}

@keyframes animationh2 {
  0% {
    left: 1500px;
  }

  1% {
    left: 360px;
  }
  10% {
    left: 300px;
  }
  25% {
    left: 240px;
  }
  65% {
    left: 330px;
  }
  100% {
    left: 270px;
  }
}

h2.juegos span {
  animation: miganie 0.8s 5;
}

@keyframes miganie {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bgc1 {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.bgc2 {
  width: 100%;
  position: absolute;
  left: -43px;
  top: 77px;
  z-index: 3;
}

.bgc3 {
  width: 100%;
  position: absolute;
  left: -23px;
  top: 270px;
  z-index: 5;
}

.bgc4 {
  width: 100%;
  position: absolute;
  left: -19px;
  top: 269px;
  z-index: 7;
}

.bgc5 {
  width: 100%;
  position: absolute;
  left: 11px;
  top: 243px;
  z-index: 9;
}
