section.introduction {
  position: relative;
  height: 120vh;
  width: 100%;
  /* border: 5px green solid; */
}

div.profile-photo {
  position: absolute;
  top: 150px;
  left: 150px;
  height: 400px;
  width: 400px;
  box-shadow: 0 0 0 7px white, 0 0 0 14px grey;
  border-radius: 200px;
  background-image: url(../img/20190130_225004.jpg);
  background-size: cover;
  z-index: 12;
}

div.description {
  width: 500px;
  height: 250px;
  position: absolute;
  left: 700px;
  top: 250px;
  font-size: 24px;
}
