* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #282c34;
  min-height: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

#header {
  margin: 0 10% 20px;
  border-bottom: 1px white solid;
  width: 80%;
  height: 30vh;
  font-size: 20px;
}

h1 {
  font-size: 36px;
}

input[type="checkbox"] {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 15px;
}

input[type="text"] {
  height: 20px;
  padding-left: 10px;
  margin: 15px 0;
}

input[type="date"] {
  height: 20px;
  padding-left: 10px;
  margin: 0 0 0;
  transform: translate(0, -10%);
}

#header button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 20px;
  border: 2px grey solid;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

#tasks,
#completed {
  font-size: 20px;
  width: 80%;
  margin: 0 10%;
  border-bottom: 1px white solid;
  padding-bottom: 10px;
}

#tasks {
  margin-bottom: 20px;
  height: 28vh;
}
#completed {
  height: 28vh;
}

#header label {
  display: block;
}

div.task {
  margin: 10px 0;
}

div.task p,
div.task-completed p {
  display: inline-block;
  margin: 0 10px;
}

div.task button,
div.task-completed button {
  border: grey 1px solid;
  background-color: #eee;
  padding: 2px 2px;
  transform: translate(0, -15%);
  text-transform: uppercase;
  cursor: pointer;
}

div.task-completed {
  margin: 10px 0;
}

#marca {
  margin: 5px 0;
}
